pyaudio
torch==2.2.0
torchaudio==2.2.0
--extra-index-url https://download.pytorch.org/whl/cu118
numba==0.58.0
numpy==1.22.1
wheel
pyglet
git+https://github.com/openai/whisper.git@v20231117
openai==0.27.2
moviepy
deep-translator